{% extends 'layout.html' %}

{% block main %}
<ol class="breadcrumb">
  <li><a href="#">管理首页</a></li>
  <li><span>添加分类</span></li>
</ol>

<h3>添加分类</h3>

<div style="width: 500px;margin: 0 auto;line-height: 40px;" class="category-add">
<form role="form" method="post">
  <div class="form-group">
    <label for="name">新增分类名称</label>
    <input type="text" class="form-control" id="name" placeholder="请输入新增的分类名称" name="name">
  </div>
  <button type="submit" class="btn btn-default" role="submit">确定</button>
</form>
</div>

{% endblock %}

